#payment-info-wrapper form .form-row {
    margin: 20px;
}

#label {
    font-family: Raleway, sans-serif;
    padding: 10px;
}

#label-value {
    font-family: Open Sans, sans-serif;
    background: #e0e0e0;
    padding: 10px;
    box-shadow: 0px 12px 12px -12px #e0e0e0;
}

#label-value input,
#label-value select {
    width: 80%;
    background: #e0e0e0;
    border: none;
    color: #000;
}

#label-value .fa-pencil-square-o,
#label-value .fa-ban,
#label-value .fa-check-square-o {
    color: #000;
    cursor: pointer;
    transition: color .2s;
}

#label-value .fa-pencil-square-o:hover {
    color: #1FA2FF;
}

#label-value .fa-ban:hover {
    color: red;
}

#label-value .fa-check-square-o:hover {
    color: #1FA2FF
}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }
    to {
     display: block;
     opacity: 1;
    }
}

.fade-in-icons {
    animation: fadein;
    animation-duration: .5s;
}

.pause-fade-in {
    display: none;
    opacity: 0;
    animation-play-state: paused;
}

.enabled {
    background: #fff !important;
}