<br>
<br>
<div id="candidates-wrapper">
  <div id="candidates" class="d-flex justify-content-between align-items-center">
    <h4>Full Stack Web Developer</h4>
    <h5>Austin, Texas</h5>
    <a href="#">view candidates</a>
    <h6>unopened: <span>8</span></h6>      
  </div>
  <div id="candidates" class="d-flex justify-content-between align-items-center">
    <h4>Full Stack Web Developer</h4>
    <h5>San Antonio, Texas</h5>
    <a href="#">view candidates</a>
    <h6>unopened: <span>8</span></h6>       
  </div>
  <div id="candidates" class="d-flex justify-content-between align-items-center">
    <h4>Full Stack Web Developer</h4>
    <h5>Houston, Texas</h5>
    <a href="#">view candidates</a>
    <h6>unopened: <span>8</span></h6>       
  </div>
  <div id="candidates" class="d-flex justify-content-between align-items-center">
      <h4>Full Stack Web Developer</h4>
      <h5>Dallas, Texas</h5>
      <a href="#">view candidates</a>
      <h6>unopened: <span>8</span></h6>       
    </div>
    <div id="candidates" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Miami, Florida</h5>
        <a href="#">view candidates</a>
        <h6>unopened: <span>8</span></h6>       
      </div>
      <div id="candidates" class="d-flex justify-content-between align-items-center">
          <h4>Full Stack Web Developer</h4>
          <h5>Phoenix Arizona</h5>
          <a href="#">view candidates</a>
          <h6>unopened: <span>8</span></h6>      
        </div>
    <div id="candidates" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Los Angeles, California</h5>
        <a href="#">view candidates</a>
        <h6>unopened: <span>8</span></h6>       
    </div>
    <div id="candidates" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Portland, Oregon</h5>
        <a href="#">view candidates</a>
        <h6>unopened: <span>8</span></h6>   
    </div>
</div>
<br>
<br>
<br>
<br>
<br>