#candidates {
    font-family: Open Sans, sans-serif;
    margin: 20px;
    background: #e0e0e0;
    padding: 10px;
    box-shadow: 0px 12px 12px -12px #e0e0e0;
}

#candidates h4,
#candidates h5,
#candidates h6 {
    margin: 0;
}

#candidates h6 span {
    color: #1FA2FF;
}