<br>
<br>
<div id="posted-jobs-wrapper">
  <div id="posted-job" class="d-flex justify-content-between align-items-center">
    <h4>Full Stack Web Developer</h4>
    <span>applied: 02/24/2017</span>
    <i class="fa fa-eye" aria-hidden="true"></i>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>      
  </div>
  <div id="posted-job" class="d-flex justify-content-between align-items-center">
    <h4>Full Stack Web Developer</h4>
    <span>applied: 02/24/2017</span>
    <i class="fa fa-eye" aria-hidden="true"></i>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>      
  </div>
  <div id="posted-job" class="d-flex justify-content-between align-items-center">
    <h4>Full Stack Web Developer</h4>
    <span>applied: 02/24/2017</span>
    <i class="fa fa-eye" aria-hidden="true"></i>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>      
  </div>
  <div id="posted-job" class="d-flex justify-content-between align-items-center">
      <h4>Full Stack Web Developer</h4>
      <span>applied: 02/24/2017</span>
      <i class="fa fa-eye" aria-hidden="true"></i>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>      
    </div>
    <div id="posted-job" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <span>applied: 02/24/2017</span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>      
      </div>
      <div id="posted-job" class="d-flex justify-content-between align-items-center">
          <h4>Full Stack Web Developer</h4>
          <span>applied: 02/24/2017</span>
          <i class="fa fa-eye" aria-hidden="true"></i>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>      
        </div>
    <div id="posted-job" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <span>applied: 02/24/2017</span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>      
    </div>
    <div id="posted-job" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <span>applied: 02/24/2017</span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>      
    </div>
</div>
<br>
<br>
<br>
<br>
<br>