<br>
<br>
<div id="cover-letters-wrapper">
  <div id="cover-letter">
    <div id="cover-letter-top" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Austin, Texas</h5>
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateCoverLetter()"></i>
        <i class="fa fa-times" aria-hidden="true" (click)="deleteCoverLetter()"></i> 
    </div>
    <div id="cover-letter-bottom" class="d-flex justify-content-between align-items-center">
        <span>created: 02/24/2017</span>
        <span>updated: 04/10/2017</span>     
    </div>      
  </div>
  <div id="cover-letter">
    <div id="cover-letter-top" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Austin, Texas</h5>
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateCoverLetter()"></i>
        <i class="fa fa-times" aria-hidden="true" (click)="deleteCoverLetter()"></i> 
    </div>
    <div id="cover-letter-bottom" class="d-flex justify-content-between align-items-center">
        <span>created: 02/24/2017</span>
        <span>updated: 04/10/2017</span>  
    </div>      
  </div>
  <div id="cover-letter">
      <div id="cover-letter-top" class="d-flex justify-content-between align-items-center">
          <h4>Full Stack Web Developer</h4>
          <h5>Austin, Texas</h5>
          <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateCoverLetter()"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="deleteCoverLetter()"></i> 
      </div>
      <div id="cover-letter-bottom" class="d-flex justify-content-between align-items-center">
          <span>created: 02/24/2017</span>
          <span>updated: 04/10/2017</span>     
      </div>    
  </div>
  <div id="cover-letter">
      <div id="cover-letter-top" class="d-flex justify-content-between align-items-center">
          <h4>Full Stack Web Developer</h4>
          <h5>Austin, Texas</h5>
          <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateCoverLetter()"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="deleteCoverLetter()"></i> 
      </div>
      <div id="cover-letter-bottom" class="d-flex justify-content-between align-items-center">
          <span>created: 02/24/2017</span>
          <span>updated: 04/10/2017</span>     
      </div>    
  </div>
  <div id="cover-letter">
      <div id="cover-letter-top" class="d-flex justify-content-between align-items-center">
          <h4>Full Stack Web Developer</h4>
          <h5>Austin, Texas</h5>
          <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateCoverLetter()"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="deleteCoverLetter()"></i> 
      </div>
      <div id="cover-letter-bottom" class="d-flex justify-content-between align-items-center">
          <span>created: 02/24/2017</span>
          <span>updated: 04/10/2017</span>     
      </div>    
  </div>
</div>
<br>
<br>
<br>
<br>
<br>