
<div class="container">
  <div id="home-wrapper" class="d-flex flex-column align-items-center justify-content-center">
    <div id="form-wrapper">
      <form [formGroup]="posSearchForm" (ngSubmit)="posSearch()" novalidate>
          <div class="form-row">
              <div class="form-group col-md-12" *ngIf="showMessage">
                  <div class={{messageClass}}>
                    {{ message }}
                  </div>
                </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
                <label for="search">search</label>
                <input type="search" class="form-control" id="search" name="search" formControlName="search">
            </div>
            <div class="form-group col-md-3">
              <label for="city">city</label>
              <input type="text" class="form-control" id="city" name="city" formControlName="city">
            </div>
            <div class="form-group col-md-3">
              <label for="state">state</label>
              <input type="text" class="form-control" id="state" name="state" formControlName="state">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="submit" class="btn btn-primary">
            </div>
          </div>
        </form>
    </div>
    <div id="header-wrapper">
        <header class="d-flex justify-content-center">
          <h5>Find Jobs</h5>
          <h5>Post a Job</h5>
          <h5>Find Employees</h5>
          <h5>Check out our blog</h5>
        </header>
    </div>
  </div>
</div>