<br>
<br>
<div id="resumes-wrapper">
  <div id="resume">
    <div id="resume-top" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Austin, Texas</h5>
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateResume()"></i>
        <i class="fa fa-times" aria-hidden="true" (click)="deleteResume()"></i> 
    </div>
    <div id="resume-bottom" class="d-flex justify-content-between align-items-center">
        <span>created: 02/24/2017</span>
        <span>updated: 04/10/2017</span>
        <span>Views: 8</span>       
    </div>      
  </div>
  <div id="resume">
    <div id="resume-top" class="d-flex justify-content-between align-items-center">
        <h4>Full Stack Web Developer</h4>
        <h5>Austin, Texas</h5>
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateResume()"></i>
        <i class="fa fa-times" aria-hidden="true" (click)="deleteResume()"></i> 
    </div>
    <div id="resume-bottom" class="d-flex justify-content-between align-items-center">
        <span>created: 02/24/2017</span>
        <span>updated: 04/10/2017</span>
        <span>Views: 15</span>     
    </div>      
  </div>
  <div id="resume">
      <div id="resume-top" class="d-flex justify-content-between align-items-center">
          <h4>Full Stack Web Developer</h4>
          <h5>Austin, Texas</h5>
          <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateResume()"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="deleteResume()"></i> 
      </div>
      <div id="resume-bottom" class="d-flex justify-content-between align-items-center">
          <span>created: 02/24/2017</span>
          <span>updated: 04/10/2017</span>
          <span>Views: 5</span>       
      </div>    
  </div>
  <div id="resume">
        <div id="resume-top" class="d-flex justify-content-between align-items-center">
            <h4>Full Stack Web Developer</h4>
            <h5>Austin, Texas</h5>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateResume()"></i>
            <i class="fa fa-times" aria-hidden="true" (click)="deleteResume()"></i> 
        </div>
        <div id="resume-bottom" class="d-flex justify-content-between align-items-center">
            <span>created: 02/24/2017</span>
            <span>updated: 04/10/2017</span>
            <span>Views: 5</span>       
        </div>    
    </div>
    <div id="resume">
            <div id="resume-top" class="d-flex justify-content-between align-items-center">
                <h4>Full Stack Web Developer</h4>
                <h5>Austin, Texas</h5>
                <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="updateResume()"></i>
                <i class="fa fa-times" aria-hidden="true" (click)="deleteResume()"></i> 
            </div>
            <div id="resume-bottom" class="d-flex justify-content-between align-items-center">
                <span>created: 02/24/2017</span>
                <span>updated: 04/10/2017</span>
                <span>Views: 5</span>       
            </div>    
        </div>
</div>
<br>
<br>
<br>
<br>
<br>